
body{
    font-family: 'Poppins', sans-serif;
    color:#CCEFFF;
    margin:0;
    padding:0;
    overflow-x:hidden;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

html{
    background: url("./img/Background.png")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100vh;
}

.container{
    display:flex;
    width:100%;
    height:100vh;
}
.titles{
    position:absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 15%;
    left:50%;
}
.heading{
    font-size: 72px;
    font-weight: 800;
}
@media only screen and (max-width:480px){
    .heading{
        font-size:36px;
    }
    .subheader{
        font-size:14px;
    }
    .mochiBlueImg{
        width:30%;
    }
    .telegramButton{
        width:35%;
        top:60%;
    }
    .phrases {
        top:75%;
    }
}

@media only screen and (min-width:480px){
    .phrases{
        font-size: 20px;
    }
}

@media screen and (max-width:991px) 
{
    .telegramButton{
        width:35%;
    }
}

.subheader{
    font-size: 16px;
    font-weight:600;
}

.phrases{
    position:absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 85%;
    left:50%;
    width:90%;
}
.mochiContainer{
    display: flex;
    width:100%;
    align-self: center;
    justify-content: center;

}
.mochiBlueImg{
    width:100%;
    padding-top:1rem;
    position: absolute;
}

.telegramButton{
    position: absolute;
    text-align: center;
    width:20%;
    transform: translate(-50%, -50%);
    top: 70%;
    left:50%;
}

.containerAbsolutes{
    max-width:30%;
}


