
body{
    font-family: 'Poppins', sans-serif;
    color:#CCEFFF;
    margin:0;
    padding:0;
    overflow-x:hidden;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

html{
    background: url("./img/Background.png")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100vh;
}

.container{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    align-items: center;
    justify-content: center;
}

.titles{
    position:absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 15%;
    left:50%;
}
.heading{
    font-size: 72px;
    font-weight: 800;
}

.brandHeading{
    font-size: 72px;
    font-weight: 800;
}
.subheader{
    font-size: 16px;
    font-weight:600;
}

.subheader2{
    font-size: 16px;
    font-weight:800;
}

.phrases{
    position:absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 80%;
    left:50%;
    width:90%;
}
.mochiContainer{
    display: flex;
    width:100%;
    align-self: center;
    justify-content: center;
}
.mochiBlueImg{
    width:100%;
    position: absolute;
}

.telegramButton{
    width:20%;
    padding-bottom:1rem;
}

form[type=colorPalette] {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    flex-direction: column;
}

input[type=colorPalette]{
    background-color:#fff;
    border:none;
    border-radius: 1.4em;
    padding:0.7em 1.3em;
    margin:1rem;
}

input[type=colors]{
    background-color:#fff;
    border:none;
    border-radius: 1.4em;
    padding:0.7em;
    margin:1rem;
}
button[type=submit]{
    outline : none ;
    border : none ;
    padding : 0.7em 2em ;
    font-size : 1.1em ;
    font-weight: 600;
    border-radius : 1.4em ;
    background : #D1FDFE ;
    color : #28B4C1 ;
    cursor : pointer ;
    transition : 0.4s ;
    margin:1rem;
}

.colorsWordsContainer{
    display:flex;
    flex-direction: row;
}
.container-form{
    background : #28B4C1;
    border-radius: 1.4em;
    box-shadow: inset;
    padding: 1.2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.colors{
      margin : 0 ;
      background : #f1f1f1;
      min-height : 50vh ;
      display: flex ;
      justify-content : center ;
      align-items : center ;
      padding: 0 2em ;
}

.pallete Button {
    outline : none ;
    border : none ;
    padding : 0.7em 2em ;
    font-size : 1.1em ;
    position : absolute ;
    left : 50%;
    top:150%;
    transform : translateX( -50%) ;
    border-radius : 1.4em ;
    background : #1f1f1f ;
    color : #fff ;
    font-weight: 600;
    cursor : pointer ;
    transition : 0.4s ;
}

.pallete button :hover {
    background : #fff;
    color:#1f1f1f;
    box-shadow: 0px 0px 15px
      rgba( 0 , 0 , 0 , 0.2 ) ;
   }

.pallete {
    margin-top: 3rem;
    background : #fff ;
    width : 45em ;
    height : 25em ;
    border-radius : 20px ;
    box-shadow : 0px 25px 50px -12px
      rgba( 0 , 0 , 0 , 0.1 ) ;
    text-align : center ;
    color : #1f1f1f ;
    box-sizing : border-box ;
}

.colors {
    display : flex ;
    justify-content : space-between ;
    align-items : center ;
    overflow-y : hidden ;
    height : 100% ;    
    border-radius : 20px ;
}

.colors > div {
 width : 25% ;
}

.color {
 background : #ccc ;
 height : 17em ;
 width : 100% ;
}

.colors h4 {
 font-size : 0.9em ;
}

.fade-in {
 opacity : 0;
 animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn{
    to{opacity:1;}
}



@media only screen and (max-width:480px){
    .heading{
        font-size:56px;
    }
    .brandHeading{
        font-size: 26px;

    }
    .pallete{
        display: none;
    }
    .subheader{
        font-size:16px;
    }
    .telegramButton{
        width:40%;
    }
    .mochiContainer{
        padding-top:2rem;
    }
    .colorsWordsContainer{
        flex-direction: column;
    }

}

@media only screen and (min-width:480px){
    .phrases{
        font-size: 20px;
    }
}

@media screen and (max-width:991px) 
{
    .telegramButton{
        width:45%;
    }
}